// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$header-border: #60AAE9;
$body-blue: rgba(96, 170, 233, 0.25);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}

strong {
  font-weight: bold;
}

body {
  position: relative;
  background-color: $body-blue;
  
}


h1 {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: black;
}

.waldo-flex-container {
  margin-top: 114px;
  padding: 30px 60px;
  display: flex
  
}

.waldo-board {
  position: relative;
  background-image: url('./where\'s_waldo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9;
  
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


header {
  background: white;
  position: fixed;
  border: solid 12px $header-border;
  top: 0;
  width: 100%;
  z-index: 5;
  min-height: 90px;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  padding: 0 60px;
 
  
  gap: 30px;
  
}

.title-container, .timer-container {
  display: flex;
  justify-content: center;
  flex-basis: 33%;
}

.characters-container {
  display: flex;
  justify-content: space-around;
  flex-basis: 33%;
}



.character-container {
  height: 90px;
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0.2;
  
}

img {
  height: 100%;
  
}

#waldo {
  height: 82%;
}

.instructions-container {
  
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  background-color: #FCA2B7;
  min-height: 500px;
  border-radius: 20px;
  padding: 60px 20px;
  width: 82%;
  text-align: center;
  box-shadow: 4px 2px 8px #8e8e8e;
  font-size: 1.2rem;
}

.instructions-text {
  font-family: Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.5px;
}

.instructions-text-hidden {
  font-family: Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 2;
  visibility: hidden;
}

.start-btn {
  margin-top: 30px;
  padding: 10px 40px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-family: Tahoma, sans-serif;
}

.fa-solid {
  color: rgb(61, 209, 51);
  font-size: 20px;
}

svg {
  color: green;
  position: absolute;
  top: 30%;
  left: 30%;
  
  height: 50%;
  width: 50%;
  
}

ul {
  width: 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1rem; 
  font-family: 'Trebuchet MS', Arial, sans-serif;
  
}

ul > li {
  background-color: antiquewhite;
  border-top: solid 2px black;
  border-right: solid 2px black;
  border-left: solid 2px black;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
}

ul > li:nth-child(2) {
  line-height: 1.5;
}

ul > li:nth-child(3) {
  border-bottom: solid 2px black;
}

ul > li:hover {
  background-color: lightcoral;
}


.start-btn:hover {
  box-shadow: 4px 2px 8px #8e8e8e;
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.score-container {
  
  min-width: 65%;
  min-height: 551px; 
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.88);
  padding: 30px 30px 0 30px;
  visibility: hidden;
}


.score-title-container, .score-title-container > h1 {
  text-align: center;
  color: #FF0088;
  font-family: Cooper, serif;
  letter-spacing: 0.3px;
}

.score-grid-container {
  margin-top: 30px;
  display: grid;
  min-height: 335px; 
  border-bottom: solid 1px grey;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.score-grid-item {
  text-align: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  
  color: #FF0088;
  letter-spacing: 0.6px;
}

.enter-name-container {
  display: flex;
  min-height: 80px;

}

.enter-flex-item1 {
  display: flex;
  flex-basis: 55%;
  align-items: center;
  justify-content: center;
  
}

.enter-flex-item2 {
  display: flex;
  flex-basis: 45%;
  align-items: center;
  justify-content: space-around;
  
}

.enter-flex-item1 > input {
  width: 50%;
  margin-left: 30px;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.88);
  border: solid 2px #FF0088;
  color: #FF0088;
  letter-spacing: 0.75px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 1rem;
  outline: none;
}


.name {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 24px;
  color: #FF0088;
  letter-spacing: 0.6px;

}

.score-btn {
  padding: 10px 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-family: Tahoma, sans-serif;
  background-color: rgba(0, 0, 0, 0.88);
  color: #FF0088;
  border: solid 2px #FF0088;
  cursor: pointer;
}

.score-btn:hover {
  box-shadow: 0 0 1px 2px #b4b4b4;
}

.error-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  display: none;
}

.score-row {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.score-popup {
  height: 150px;
  background-color: #3a3b3a;
  position: absolute;
  width: 75%;
  top: 27%;
  left: 12%;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  visibility: visible;

}

.score-popup > h2 {
  color: white;
  font-weight: 400;
}

.score-popup > button {
  padding: 10px;
  width: 50px;
  border-radius: 4px;
  background-color: #18f0c5;
  letter-spacing: 1.2px;
  cursor: pointer;

}

.score-popup > button:hover {
  background-color: lightcoral;
}

@media (min-width: 601px) and (max-width: 1070px) {
  header {
    padding: 0 10px;
    
  }

  .instructions-text {
    font-size: 25px;
  }
  .title-container, .timer-container {
    text-align: center;
    flex: 1
  }

  .characters-container {
    flex: 2;
  }
}

@media (min-width: 690px) and (max-width: 1110px) {

  .waldo-board {
    align-items: flex-start;
    
  }

  .score-container {
    
    margin-top: 40px;
    
  }
  .score-btn {
    padding: 5px 10px;
  }
  .enter-flex-item1 {
    flex-basis: 65%;
  }
  
  .enter-flex-item2 {
    flex-basis: 35%;
    
  }

  .enter-flex-item1 > input {
    width: 60%;
    margin-left: 10px;
  }

}

@media (max-width: 690px) {
  .enter-name-container {
    flex-direction: column;
    justify-content: space-around;
    min-height: 130px;
  }

  .error-container {
    margin-bottom: 10px;
  }

  .waldo-board {
    align-items: flex-start;
  }

  .score-container {
    margin-top: 40px;
    min-width: 95%;
  }

  .score-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    
  }

  .instructions-text {
    font-size: 25px;
  }
}

@media (max-width: 1340px) {
  .enter-flex-item2 {
    gap: 8px;
  }
}

@media (max-width: 800px) {
  ul > li {
    padding: 5px 5px;
  }
}

@media (max-width: 600px) {
  
  header {
    flex-direction: column;
    text-align: center;
  }

  .waldo-flex-container {
    padding: 30px 30px;
  }
  
  .waldo-board {
    margin-top: 145px;
  }


  .title-container, .characters-container, .timer-container {
    width: 100%;
    
  }

  .instructions-container {
    margin-top: 302px;
  }
}
